body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000;
}

body.dark {
  background-color: #121212;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #222;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #ddd;
}

nav button {
  padding: 8px;
}

.section {
  display: none;
  padding: 15px;
}

.section.active {
  display: block;
}

textarea {
  width: 100%;
  height: 100px;
}

#photoGallery img {
  width: 100px;
  margin: 5px;
}